.cover {
  position: relative;
  box-sizing: border-box;
  height: 740px;
  align-self: center;
  margin: 92px 0 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    height: 480px;
    margin: 89px 0 88px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    height: 200px;
    margin: 64px 0;
  }
}
