@import url(../vendors/styles/normalize.css);
@import url('https://rsms.me/inter/inter.css');

.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: #2a2c2f;
  max-width: 100%;
  min-width: 1280px;
  margin: auto;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 44px;
  padding-top: 34px;
}

.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  margin-left: 18px;
  text-decoration: none;
  color: #fff;
  align-self: flex-end;
  padding: 0;
  transition: opacity 0.3s ease-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link_focus {
  border-bottom: 1px solid #fff;
}

.logo {
  width: 100%;
}

/***** LEAD ******/

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  align-self: center;
}

.lead__title {
  text-align: center;
  max-width: 720px;
  font-weight: 800;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  padding-top: 58px;
  margin: 0 0 32px;
}

.lead__subtitle {
  max-width: 620px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px;
}

.lead__image {
  display: block;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.lead__caption {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 8px 0 0;
}

/***** INTRO ******/

.intro {
  min-width: 987px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.intro__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 114px 0 40px;
}

.intro__subtitle {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 0;
}

.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 32px 0 33px;
}

.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro__list-item {
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-item_detail {
  font-weight: bold;
}

/* Gallery */

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 0 48px;
  margin: 92px 0 92px;
  max-width: 1184px;
  align-self: center;
}

.photo-grid__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.photo-grid__image {
  display: block;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

/******* PLACES *********/

.places__container {
  max-width: 984px;
  margin: 0 auto;
}

.places {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 984px;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 40px;
}

.place:not(:last-child) {
  padding-bottom: 80px;
}

.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  grid-row: 1;
  grid-column: 1 / 2;
}

.place__image {
  grid-row: 2;
  grid-column: 1 / 2;
  display: block;
  width: 100%;
  object-fit: cover;
}

.place__website {
  grid-row: 1;
  grid-column: 2 / 3;
  align-self: end;
}

.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2.4px;
  color: #aaa;
  margin: 0 0 4px;
}

.place__link {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
  transition: opacity 0.3s ease-out;
}

.place__link:hover {
  opacity: 0.8;
}

.place__paragraphs {
  grid-column: 2 / 3;
  grid-row: 2;
  min-width: 484px;
}

.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  padding-bottom: 25px;
}

/* COVER */

.cover {
  position: relative;
  min-height: 740px;
  align-self: center;
  margin: 92px 0 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1184px;
  min-height: 100%;
  z-index: 0;
}

.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  height: 740px;
  min-width: 1184px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: background-color 0.3s ease-out;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__title {
  max-width: 656px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 0 32px;
  z-index: 2;
}

.cover__subtitle {
  max-width: 320px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 0;
  z-index: 2;
}
