@import url(../vendors/styles/normalize.css);
@import url('https://rsms.me/inter/inter.css');

.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: #2a2c2f;
  max-width: 100%;
  min-width: 1280px;
  margin: auto;
  color: #fff;
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 44px;
  padding-top: 34px;
}

.header__lang {
  margin: 0;
  margin-left: auto;
  display: flex;
  list-style: none;
  align-self: flex-end;
}

.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  margin-left: 18px;
}

.header__lang-link_focus {
  text-decoration: underline;
}

.logo {
  width: 100%;
}

/***** LEAD ******/

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  align-self: center;
}

.lead__title {
  text-align: center;
  max-width: 720px;
  font-weight: 800;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  padding-top: 58px;
  margin: 0 0 32px;
}

.lead__subtitle {
  max-width: 620px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px;
}

.lead__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.lead__caption {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 8px 0 0;
}

/***** INTRO ******/

.intro {
  min-width: 987px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.intro__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 114px 0 40px;
}

.intro__subtitle {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 0;
}

.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 32px 0 33px;
}

.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro__list-item {
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-item_detail {
  font-weight: bold;
}

/* Gallery */

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 0 48px;
  margin: 92px 0 92px;
  min-width: 1184px;
  align-self: center;
}

.photo-grid__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.photo-grid__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
